<!DOCTYPE html>
<html>
  <head>
    <title>Clickbait Blocker</title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/jquery/dist/jquery.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/javascripts/main.js'></script>
  </head>
  <body>
    <h1>Clickbait Blocker</h1>
    <p>All clickbaits</p>

    <div class="view-wrapper"></div>
  </body>
</html>
